.gif-section {
    position: relative;
    background: url("./images/therunner.gif");
}

.gif-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.4);

}

.gif-section * {
    position: relative;
    z-index: 1;
}

.slides img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#preloader {
    position: fixed;
    inset: 0;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-inner {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.ring {
    width: 70px;
    height: 70px;
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-top: 3px solid #00f2ff;
    border-radius: 50%;
    margin: 0 auto 20px;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 20px #00f0ff66;
}

@keyframes spin {
   to 100% { transform: rotate(360deg); }
}

.loader-text {
    letter-spacing: 4px;
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    filter: blur(120px);

        background: radial-gradient(circle at 20% 30%, #1A3D63, transparent 40%), 
                    radial-gradient(circle at 80% 70%, #4A7FA7, transparent 40%);
        animation: bgMove 18s ease infinite alternate;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0b0b0b;
    color: white;
}

@keyframes bgMove {
    0% {
        transform: scale(1) translate(0,0);
    }
    100% {
        transform: scale(1.2) translate(-40px, -40px);
    }
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.nav {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #0b0b0b;
}

.nav a {
    position: relative;
    color: #eaeaea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.25s ease;
}

.nav a:hover {
    color: #00f0ff;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #00f0ff;
    transition: 0.25s;
}

.nav a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    .nav {
        gap: 20px;
    }

    .nav a {
        font-size: 14px;
    }
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    flex: 1;
}

.content {
    flex: 1;
    background-color: rgba(231, 203, 169, 0.04);
    color: #F6FAFD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid rgba(231,203,169,0.15);
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 600px;
}

.content:hover {
    box-shadow: 0 10px 25px rgba(10,25,49,0.35);
    transform: translateY(-5px);
}

.tokenomics {
    flex: 1;
    background-color: rgba(231, 203, 169, 0.04);
    color: #F6FAFD;
    padding: 20px;
    border-radius: 8px;
   box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid rgba(231,203,169,0.15);
    margin-bottom: 20px;
    margin-top: 0;
    max-width: 600px;
}

.tokenomics:hover {
   box-shadow: 0 10px 25px rgba(10,25,49,0.35);
    transform: translateY(-5px);
}

.tokenomics h2 {
    margin-top: 0;
}

.tokenomics .stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chart-container {
    background-color: rgba(231, 203, 169, 0.04);
    color: #F6FAFD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid rgba(231,203,169,0.15);
    margin-bottom: 20px;
    margin-top: 0;
}

.chart-container h2 {
    margin-top: 0;
}

.narrative {
    display: flex;
    justify-content: space-between;
}

.narrative-content {
    background-color: rgba(231, 203, 169, 0.04);
    color: #F6FAFD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid rgba(231,203,169,0.15);
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 500px;
}

.narrative-content:hover {
    box-shadow: 0 15px 40px rgba(10,257,49,0.5);
    transform: translateY(-5px);
}

.narrative-content h2 {
    margin-top: 0;
}

.robo-image {
    width: 200px;
    height: auto;
    border-radius: 8px;
    background-color: rgba(231, 203, 169, 0.04);
    padding: 10px;
     box-shadow: 0 10px 30px rgba(231,203,169,0.25);
    transition: box-shadow 0.3s ease, transform 0.3s ease;;
    border: 1px solid rgba(231,203,169,0.15); 
    margin-bottom: 20px;
}

.robo-image:hover {
   box-shadow: 0 10px 25px rgba(10,25,49,0.35);
    transform: translateY(-5px);
}



.purcase {
   background: rgba(231,203,169,0.04);
    border: 1px solid rgba(231,203,169,0.15);
    box-shadow: 0 10px 30px rgba(231,203,169,0.25);
     transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.buy-steps {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.purcase::before {
    content: "";
    position: absolute;
    top: -120px;
    left: -120px;
    width: 100%;
    max-width: 420px;
    background: radial-gradient(circle, rgba(231,203,169,0.1), rgba(231,203,169,0.3), transparent 60%);
    animation: floatGlow 8s linear infinite;
}

@keyframes floatGlow {
    0% { transform: translate(0, 0); }
    50% { transform: translate(80px, 60px); }
    100% { transform: translate(0, 0); }
}

.steps {
    background-color: #141414;
    padding: 30px;
    border-radius: 16px;
   box-shadow: 0 0 0 rgba(231,203,169,0);
    transition: 0.35s ease;
    text-align: center;
    border: 1px solid rgba(231,203,169,0.25);
    flex: 1 1 150px;

}

.steps:hover {
    box-shadow: 0 20px 60px rgba(231,203,169,0.18);
    transform: translateY(-6px);
}

.steps h3 {
    margin-top: 0;
}

.purcase .purchase-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.purcase .purchase-content h2 {
    margin-top: 0;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.social-container ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ca-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,242,255,0.2);
    border: 2px solid #00f2ff;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: monospace;
    color: #00f2ff;
}

.ca-container:hover {
    box-shadow: 0 0 20px #00f2ff;
    transform: translateX(-2px);
}

.copy-btn {
    background: #00f2ff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: background 0.3s ease;
    border-radius: 4px;
    padding: 5px 10px;
}

.address {
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #0a0a0a;
    color: #aaa;
    border-top: 1px solid var(--line);
    margin-top: 20px;
}

